@import 'styles/variables';

.root {
  width: 90%;
  @include screen($bp-mobile) {
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  --skew: 5deg;

  @include screen($bp-mobile) {
    --skew: 0;
  }

  > * {
    transform: skewX(var(--skew));

    > * {
      transform: skewX(calc(var(--skew) * -1));
    }
  }

  > *:nth-child(odd) {
    transform: skewX(calc(var(--skew) * -1));

    > * {
      transform: skewX(var(--skew));
    }
  }
}
