@import 'styles/variables';

.root {
  display: flex;
  align-items: center;
  gap: max(10px, 2vw);

  @include screen($bp-mobile) {
    flex-direction: column;
  }

  background-color: #f5f5f5;
  padding: max(20px, 3vw);
  font-size: 1.9rem;
}

.image {
  min-width: 100px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  color: $color-grey-1;
  font-size: 1.5em;
  font-weight: 400;
}

.text {
  color: $color-grey-2;
  margin-left: 8px;
}
