@import 'styles/variables';

.root {
  padding: 5vw 5vw;
  background-color: #232323;
  margin-top: max(20px, 5vw);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 2.5rem;
    color: $color-white;

    img {
      height: 1.5em;
    }
  }
}
