@import 'styles/variables';

.root {
  display: flex;
  padding: max(25px, 2.5vw) 5vw;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 5vw;

  font-size: 2.3rem;
  font-weight: 400;
}
