@import 'styles/variables';

.navigation {
  background-color: $color-primary;
  position: relative;
  z-index: 1;

  &--fixed {
    position: fixed !important;
    inset-inline: 0;
    top: 0;
  }
}
