@import 'styles/variables';

.root {
  position: relative;

  font-family: 'Podkova', Georgia;
  font-size: 2.6rem;
  padding: 2.5vw;
  background-color: #fff3bc;

  &::after {
    content: '\201C';

    position: absolute;
    left: 0.04em;
    top: -0.18em;

    font-size: 8em;
    color: rgba(0, 0, 0, 0.158);
  }
}

.text {
  max-width: 35ch;

  position: relative;
  z-index: 1;
}
