@import 'styles/variables';

.hero {
  height: 100%;
  filter: brightness(50%);
}

.header {
  height: 80vh;
  position: relative;
}

.navigation {
  position: absolute;
  top: 0;
  inset-inline: 0;
  color: $color-white;
}
