////////////////
/// Colors
////////////////

$color-grey-1: #515151;
$color-grey-2: #6d6d6d;

$color-primary: #6b0086;
$color-secondary: #0c8500;

$color-white: #F9F9F9;
$color-black: black;

////////////////
/// Other Variables
////////////////

$fillet: 5px;
$shadow: 0 10px 20px rgb(black, 0.5);

////////////////
/// Breakpoints
////////////////

$bp-mobile: 500px;

////////////////
/// Mixins
////////////////

@mixin screen($breakpoint: '') {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
